/*.numberCircle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font: 32px Arial, sans-serif;
}*/
.subTitle {
    /*padding-left:2em;*/
    margin-left: 10px;
}
.subText {

    padding-left:4em;
}
/*
 input {
        color: #000000;
        padding: 0;
        border: 0;
        text-align: center;
        width: 28px;
        height: 28px;
        font-size: 24px;
        background-color: #FFFFFF;
        outline: none;
      }
 table {
        border: 2px solid #000000;
      }
 td {
        border: 1px solid #000000;
        text-align: center;
        vertical-align: middle;  
    }
    */
    table {

        padding-left: 4em;
    }
    td {
        /*
         text-align: center;
        vertical-align: middle;*/
       border: 1px solid #000000;
    }
    input {
        color: #000000;
        text-align:center;
        width:28px;
        height:28px;
        font-size:24px;
    }
    .luckyStarColor {
        background-color: gold;

    }
    .ButtonDiv {
       /* background-color: grey;*/
     /*   font-size:24px;*/
       /* border:2px solid black;*/
       /* padding: 16px 25px;*/
        margin-left:120px;
        border:0;
    }
    .BallsDiv {
         margin-left:60px;
        border:0;   
    }
    .GenButton {

        background-color: grey;
        border:2px solid black;
        color: yellow;
        font-size:24px;
        padding: 6px 15px;
        border-radius: 4px;
    }
